/*
Theme Name: Webnexs
Theme URI: http://webnexs.com/
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: white, light, two-columns, left-sidebar, right-sidebar, responsive-layout, fluid-layout, editor-style, featured-images, post-formats, rtl-language-support, sticky-post, translation-ready, custom-colors, custom-menu, threaded-comments, theme-options
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Typography
2.0 Elements
3.0 Links
4.0 Header
5.0 Menus
6.0 Content
	6.1 Author box
7.0 Pagination
8.0 Widgets
9.0 Widgets
10.0 Post and pages
11.0 Comments
12.0 Media
13.0 Captions
14.0 Galleries
15.0 Additional CSS
16.0 Plugins CSS
17.0 Footer
18.0 Responsive navigation
19.0 Responsive classes
--------------------------------------------------------------*/
body,
html {
  height: 100%;
}
body {
  font-family: "PT Serif", serif;
  background: #ffffff;
  color: #333333;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}
img {
  height: auto;
  max-width: 100%;
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
.site-header .site-title,
.site-header .site-description,
.main-navigation a,
.entry-title,
.entry-meta span,
.entry-meta a,
.post-categories a,
.widget-title,
.more-link,
.smr-pagination a,
.smr-pagination .page-numbers,
.meta-item,
.smr-nav-search input,
.smr-format-action,
.site-footer,
.comment-respond,
.comment-reply-link,
.smr-author-link,
.entry-footer .meta-tags a,
.tagcloud a,
.post-date,
.smr-pagelinks-nav a,
.smr-pagelinks-nav,
.mobile-nav .smr-res-nav,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
.mks_autor_link_wrap a {
  font-family: "PT Sans Narrow", sans-serif;
}
.font-primary,
.comment-metadata,
.smr-author-box h4,
.mks_author_widget h3,
.smr-nav-search .smr-search-input,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
textarea {
  font-family: "PT Serif", serif;
}
.full-clear {
  float: left;
  width: 100%;
  display: block;
  position: relative;
}
/* Mixins */
.tsm {
  transition-delay: 0.4s;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.ism {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.cubic {
  -webkit-transition: width 0.3s cubic-bezier(0, 0.795, 0, 1);
  -moz-transition: width 0.3s cubic-bezier(0, 0.795, 0, 1);
  -ms-transition: width 0.3s cubic-bezier(0, 0.795, 0, 1);
  -o-transition: width 0.3s cubic-bezier(0, 0.795, 0, 1);
  transition: width 0.3s cubic-bezier(0, 0.795, 0, 1);
}
.smr-nopadding {
  padding: 0;
  margin: 0;
}
/*--------------------------------------------------------------
	1.0 Typography
--------------------------------------------------------------*/
p {
  margin: 0 0 30px 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
}
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.comment-content h1,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5,
.comment-content h6 {
  text-transform: uppercase;
}
blockquote {
  margin: 0 0 30px;
  display: block;
  font-style: italic;
  padding: 10px 0 10px 30px;
  font-size: 18px;
  line-height: 30px;
  border-left: 1px solid;
}
blockquote cite {
  float: right;
}
/*--------------------------------------------------------------
	2.0 Elements
--------------------------------------------------------------*/
dl {
  margin-bottom: 1.6em;
}
dt {
  font-weight: bold;
}
dd {
  margin-bottom: 1.6em;
}
input[type="text"]::-ms-clear {
  display: none;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
textarea {
  border-radius: 4px;
  outline: none;
  padding: 1px 10px;
  width: 100%;
}
input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
}
select {
  outline: none;
}
/*--------------------------------------------------------------
	3.0 Links
--------------------------------------------------------------*/
a {
  color: #ff5050;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
a:hover {
  color: #ff0303;
  text-decoration: none;
}
a:focus {
  outline: 0;
}
a:hover,
a:active {
  outline: 0;
}
/*--------------------------------------------------------------
	4.0 Header
--------------------------------------------------------------*/
.site-header {
  text-align: center;
  margin-bottom: 40px;
}
.site-header .site-title {
  font-size: 80px;
  text-transform: uppercase;
  margin: 0;
}
.site-header .site-title img {
  vertical-align: initial;
}
.site-header .site-title a {
  color: #333333;
}
.site-header .site-description {
  font-size: 20px;
  text-transform: uppercase;
  margin: 0;
}
.site-header .site-branding {
  padding: 30px 0 30px;
}
/*--------------------------------------------------------------
	5.0 Menus
--------------------------------------------------------------*/
.site-navigation-wrapper {
  float: left;
  width: 100%;
  display: block;
  position: relative;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}
.main-navigation {
  width: 70%;
  margin: 0;
  position: relative;
  text-align: left;
}
.main-navigation > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.main-navigation li {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.main-navigation li:after {
  content: "";
  background: #ff5050;
  width: 100%;
  bottom: -2px;
  left: 0;
  display: block;
  height: 3px;
  position: absolute;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s cubic-bezier(0, 0.795, 0, 1);
  -moz-transition: all 0.3s cubic-bezier(0, 0.795, 0, 1);
  -ms-transition: all 0.3s cubic-bezier(0, 0.795, 0, 1);
  -o-transition: all 0.3s cubic-bezier(0, 0.795, 0, 1);
  transition: all 0.3s cubic-bezier(0, 0.795, 0, 1);
}
.main-navigation .smr-main-nav > .current-menu-item:after,
.main-navigation .smr-main-nav > li:hover:after,
.main-navigation .smr-main-nav ul > li:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.main-navigation a {
  font-size: 18px;
  color: #333333;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.main-navigation ul ul {
  background: #ffffff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 103%;
  left: -999em;
  z-index: 99999;
  padding: 0;
  text-align: left;
  opacity: 0;
  -webkit-transition: opacity 0.3s cubic-bezier(0, 0.795, 0, 1);
  -moz-transition: opacity 0.3s cubic-bezier(0, 0.795, 0, 1);
  -ms-transition: opacity 0.3s cubic-bezier(0, 0.795, 0, 1);
  -o-transition: opacity 0.3s cubic-bezier(0, 0.795, 0, 1);
  transition: opacity 0.3s cubic-bezier(0, 0.795, 0, 1);
}
.main-navigation ul ul li {
  padding: 0 0 0 20px;
}
.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}
.main-navigation ul ul a {
  width: 200px;
}
.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: 0;
  opacity: 1;
}
.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  left: 100%;
}
.main-navigation .sub-menu li:first-child a {
  padding: 10px 0 5px;
}
.main-navigation .sub-menu li:last-child a {
  padding: 5px 0 10px;
}
.main-navigation .sub-menu a {
  padding: 5px 0 5px;
}
.main-navigation .menu-item-has-children > a:after {
  font-family: "FontAwesome";
  content: "\f107";
  margin-left: 5px;
}
.main-navigation .sub-menu .menu-item-has-children > a:after {
  font-family: "FontAwesome";
  content: "\f105";
  margin-right: 20px;
  float: right;
}
.smr-main-nav ul {
  margin-bottom: 0;
}
.smr-nav-social-wrap {
  float: left;
}
.smr-nav-social {
  margin: 0;
  padding: 0;
}
.smr-nav-social li {
  list-style: none;
  float: left;
}
.smr-nav-social a {
  position: relative;
  font-size: 16px;
  line-height: 40px;
  width: 24px;
  padding: 5px;
  text-decoration: none;
  display: block;
  text-align: center;
  color: #333333;
  transition-delay: 0.4s;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.smr-social-name {
  opacity: 0;
  display: none;
  color: #fff;
  float: right;
  font-size: 12px;
  margin: 0 4px 0 8px;
  transition-delay: 0.4s;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.smr-nav-social a:before {
  font-family: "FontAwesome";
  text-decoration: none;
}
.smr-nav-social li a[href*="/feed"]::before,
.smr-nav-social li a[href*="/rss"]::before,
.smr-nav-social li a[href*="feedburner"]::before {
  content: "\f09e";
}
.smr-nav-social li a[href*="@"]::before {
  content: "\f0e0";
}
.smr-nav-social li a[href*="codepen.io"]::before {
  content: "\f1cb";
}
.smr-nav-social li a[href*="digg.com"]::before {
  content: "\f1a6";
}
.smr-nav-social li a[href*="dribbble.com"]::before {
  content: "\f17d";
}
.smr-nav-social li a[href*="dropbox.com"]::before {
  content: "\f16b";
}
.smr-nav-social li a[href*="facebook.com"]::before {
  content: "\f09a";
}
.smr-nav-social li a[href*="flickr.com"]::before {
  content: "\f16e";
}
.smr-nav-social li a[href*="foursquare.com"]::before {
  content: "\f180";
}
.smr-nav-social li a[href*="google.com"]::before {
  content: "\f0d5";
}
.smr-nav-social li a[href*="github.com"]::before {
  content: "\f09b";
}
.smr-nav-social li a[href*="instagram.com"]::before {
  content: "\f16d";
}
.smr-nav-social li a[href*="linkedin.com"]::before {
  content: "\f0e1";
}
.smr-nav-social li a[href*="last.fm"]::before {
  content: "\f202";
}
.smr-nav-social li a[href*="pinterest.com"]::before {
  content: "\f0d2";
}
.smr-nav-social li a[href*="reddit.com"]::before {
  content: "\f1a1";
}
.smr-nav-social li a[href*="soundcloud.com"]::before {
  content: "\f1be";
}
.smr-nav-social li a[href*="spotify.com"]::before {
  content: "\f1bc";
}
.smr-nav-social li a[href*="stumbleupon.com"]::before {
  content: "\f1a4";
}
.smr-nav-social li a[href*="tumblr.com"]::before {
  content: "\f173";
}
.smr-nav-social li a[href*="twitter.com"]::before {
  content: "\f099";
}
.smr-nav-social li a[href*="vimeo.com"]::before {
  content: "\f194";
}
.smr-nav-social li a[href*="vine.co"]::before {
  content: "\f1ca";
}
.smr-nav-social li a[href*="vk.com"]::before {
  content: "\f189";
}
.smr-nav-social li a[href*="wordpress.org"]::before,
.smr-nav-social li a[href*="wordpress.com"]::before {
  content: "\f19a";
}
.smr-nav-social li a[href*="xing.com"]::before {
  content: "\f168";
}
.smr-nav-social li a[href*="youtube.com"]::before {
  content: "\f16a";
}
.smr-nav-social li a[href*="medium.com"]::before {
  content: "\f23a";
}
.smr-nav-social li a[href*="buysellads.com"]::before {
  content: "\f20d";
}
.smr-nav-social li a[href*="behance.com"]::before {
  content: "\f1b4";
}
.smr-nav-social li a[href*="slack.com"]::before {
  content: "\f198";
}
.smr-nav-social li a[href*="weibo.com"]::before {
  content: "\f18a";
}
.smr-nav-social li a[href*="/feed"]:hover,
.smr-nav-social li a[href*="/rss"]:hover {
  color: #FA9B39;
}
.smr-nav-social li a[href*="@"]:hover {
  color: #AAA;
}
.smr-nav-social li a[href*="codepen.io"]:hover {
  color: #fff;
}
.smr-nav-social li a[href*="digg.com"]:hover {
  color: #fff;
}
.smr-nav-social li a[href*="dribbble.com"]:hover {
  color: #ea4c89;
}
.smr-nav-social li a[href*="dropbox.com"]:hover {
  color: #007ee5;
}
.smr-nav-social li a[href*="facebook.com"]:hover {
  color: #3b5998;
}
.smr-nav-social li a[href*="flickr.com"]:hover {
  color: #ff0084;
}
.smr-nav-social li a[href*="foursquare.com"]:hover {
  color: #0732a2;
}
.smr-nav-social li a[href*="google.com"]:hover {
  color: #dd4b39;
}
.smr-nav-social li a[href*="github.com"]:hover {
  color: #4183c4;
}
.smr-nav-social li a[href*="instagram.com"]:hover {
  color: #3f729b;
}
.smr-nav-social li a[href*="linkedin.com"]:hover {
  color: #0e76a8;
}
.smr-nav-social li a[href*="last.fm"]:hover {
  color: #e31b23;
}
.smr-nav-social li a[href*="pinterest.com"]:hover {
  color: #c8232c;
}
.smr-nav-social li a[href*="reddit.com"]:hover {
  color: #336699;
}
.smr-nav-social li a[href*="soundcloud.com"]:hover {
  color: #f50;
}
.smr-nav-social li a[href*="spotify.com"]:hover {
  color: #81b900;
}
.smr-nav-social li a[href*="stumbleupon.com"]:hover {
  color: #ff2618;
}
.smr-nav-social li a[href*="tumblr.com"]:hover {
  color: #34526f;
}
.smr-nav-social li a[href*="twitter.com"]:hover {
  color: #33ccff;
}
.smr-nav-social li a[href*="vimeo.com"]:hover {
  color: #1AB7EA;
}
.smr-nav-social li a[href*="vine.co"]:hover {
  color: #00d9a3;
}
.smr-nav-social li a[href*="vk.com"]:hover {
  color: #4e729a;
}
.smr-nav-social li a[href*="wordpress.org"]:hover,
.smr-nav-social li a[href*="wordpress.com"]:hover {
  color: #21759b;
}
.smr-nav-social li a[href*="xing.com"]:hover {
  color: #026466;
}
.smr-nav-social li a[href*="youtube.com"]:hover {
  color: #c4302b;
}
.smr-nav-social li a[href*="medium.com"]:hover {
  color: #57ad68;
}
.smr-nav-social li a[href*="buysellads.com"]:hover {
  color: #c90100;
}
.smr-nav-social li a[href*="behance.com"]:hover {
  color: #1769ff;
}
.smr-nav-social li a[href*="slack.com"]:hover {
  color: #6ecadc;
}
.smr-nav-social li a[href*="weibo.com"]:hover {
  color: #B53434;
}
.smr-nav-search {
  float: right;
  position: relative;
}
.smr-nav-search .smr-search-submit {
  border: none;
  background: transparent;
  padding: 5px 9px;
  font-size: 16px;
  line-height: 40px;
}
.smr-nav-search .smr-search-input {
  height: 49px;
  padding: 0 30px 0 10px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  -webkit-transition: width 0.3s cubic-bezier(0, 0.795, 0, 1);
  -moz-transition: width 0.3s cubic-bezier(0, 0.795, 0, 1);
  -ms-transition: width 0.3s cubic-bezier(0, 0.795, 0, 1);
  -o-transition: width 0.3s cubic-bezier(0, 0.795, 0, 1);
  transition: width 0.3s cubic-bezier(0, 0.795, 0, 1);
}
.smr-nav-search .smr-search-input:focus {
  width: 200px;
  z-index: 1;
  cursor: text;
}
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}
/*--------------------------------------------------------------
	6.0 Content
--------------------------------------------------------------*/
.site-main {
  margin-bottom: 40px;
}
.entry-title {
  text-transform: uppercase;
  margin: 0;
  font-size: 48px;
  line-height: 53px;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.entry-title a {
  color: #333333;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.entry-title a:hover {
  color: #ff0303;
}
.page-title {
  font-family: "PT Sans Narrow", sans-serif;
  text-transform: uppercase;
  margin: 0;
  font-size: 48px;
  line-height: 53px;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.page-title a {
  color: #333333;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.page-title a:hover {
  color: #ff0303;
}
.entry-header {
  padding: 0 0 0 80px;
  float: left;
  width: 100%;
  display: block;
  position: relative;
}
.smr-post.has-post-thumbnail .entry-header {
  position: absolute;
  bottom: 0;
  padding: 0 80px 38px 80px;
  z-index: 10;
}
.smr-post.has-post-thumbnail .entry-header .entry-title,
.smr-post.has-post-thumbnail .entry-header .entry-title a {
  color: #FFF;
}
.post-thumbnail:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), #000000);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), #000000);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), #000000);
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), #000000);
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), #000000);
  opacity: 0.8;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.format-image .post-thumbnail:after {
  opacity: 0;
  display: none;
}
.has-post-thumbnail .entry-header-wrapper:hover .post-thumbnail:after {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.smr-nofimg .smr-post.has-post-thumbnail .entry-header,
.smr-post.format-video .entry-header,
.smr-post.format-gallery .entry-header,
.smr-post.format-audio .entry-header,
.smr-post.format-image .entry-header {
  position: relative;
  bottom: 0;
  padding-bottom: 20px;
}
.smr-nofimg .smr-post.has-post-thumbnail .entry-header {
  padding-bottom: 0;
}
.meta-media {
  margin-bottom: 30px;
  float: left;
  width: 100%;
}
.entry-meta .meta-item {
  float: left;
  margin-right: 20px;
}
.entry-meta .meta-item,
.entry-meta span,
.entry-meta a {
  color: rgba(51, 51, 51, 0.8);
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
}
.entry-meta a:hover {
  color: #ff5050;
}
.entry-meta i {
  margin-right: 7px;
  font-size: 14px;
}
.entry-meta {
  margin-top: 9px;
}
.has-post-thumbnail .entry-meta .meta-item,
.has-post-thumbnail .entry-meta span,
.has-post-thumbnail .entry-meta a {
  color: #FFF;
}
.post-thumbnail {
  z-index: 1;
  float: left;
  width: 100%;
  display: block;
  position: relative;
}
.entry-header-wrapper {
  margin-bottom: 20px;
}
.has-post-thumbnail .entry-header-wrapper {
  margin-bottom: 30px;
}
.smr-nofimg .has-post-thumbnail .entry-header-wrapper {
  margin-bottom: 0;
}
.format-video .entry-header-wrapper,
.format-audio .entry-header-wrapper,
.format-image .entry-header-wrapper,
.format-gallery .entry-header-wrapper {
  margin-bottom: 0;
}
.smr-post {
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 40px;
  margin-bottom: 40px;
  position: relative;
}
.smr-post:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.smr-post-separator {
  height: 1px;
  width: 100%;
  margin-top: 40px;
  background: #e2e2e2;
  clear: both;
}
.post-categories {
  margin: 0 0 10px 0;
  padding: 0;
  display: inline-block;
}
.post-categories li {
  display: inline-block;
  list-style: none;
  vertical-align: top;
  margin: 0 3px 5px 0;
}
.post-categories a {
  background: #fffbb7;
  color: #333333;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  display: inline-block;
  border-radius: 20px;
  padding: 0 16px;
}
.smr-format-action:hover,
.post-categories a:hover {
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
}
.smr-format-action {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  display: inline-block;
  border-radius: 20px;
  padding: 0 16px;
  margin-right: 5px;
}
.smr-format-action:before {
  font-family: "FontAwesome";
  margin-right: 7px;
}
.smr-format-action.video:before {
  content: "\f04b";
}
.smr-format-action.gallery:before {
  content: "\f03e";
}
.smr-format-action.audio:before {
  content: "\f028";
}
.entry-header-wrapper {
  float: left;
  width: 100%;
  display: block;
  position: relative;
}
.entry-content p:last-child {
  margin-bottom: 0;
}
.entry-content a:not(.more-link) {
  color: #333333;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(50%, #ffffff), color-stop(50%, #ff5050));
  background: -moz-linear-gradient(bottom, #ffffff 50%, #ff5050 50%);
  background: -webkit-linear-gradient(bottom, #ffffff 50%, #ff5050 50%);
  background: linear-gradient(to top, #ffffff 50%, #ff5050 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 100%;
  text-shadow: 2px 0 #ffffff, 0px 2px #ffffff, -2px 0 #ffffff, 0 -2px #ffffff;
}
.entry-content a:hover {
  color: #ff5050;
}
.entry-content div > a {
  background: transparent !important;
  text-shadow: none !important;
}
.more-link {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  padding: 5px 16px;
  height: 41px;
  border: 1px solid;
  display: inline-block;
  border-radius: 40px;
  clear: both;
  background: transparent;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 28px;
}
.more-link:before {
  content: "\f138";
  font-family: "FontAwesome";
  margin-right: 7px;
}
.archive-head {
  margin-bottom: 20px;
}
.archive-head h1 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 32px;
  margin-top: -8px;
  margin-bottom: 0;
}
.archive-head p {
  font-size: 16px;
  line-height: 22px;
  color: #333333;
  margin-bottom: 0;
}
.meta-media-popup {
  display: none;
}
.smr-popup-content {
  max-width: 720px;
  margin: 0 auto;
}
/*--------------------------------------------------------------
	6.1 Author box
--------------------------------------------------------------*/
.smr-author-box {
  margin-bottom: 40px;
}
.smr-author-box .avatar {
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
}
.smr-author-box h3 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 32px;
  margin-top: -8px;
  margin-bottom: 0;
  margin-bottom: 20px;
}
.smr-author-box h4 {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
  font-weight: normal;
  display: inline-block;
  vertical-align: middle;
}
.smr-author-box p {
  clear: both;
  margin-bottom: 20px;
}
.smr-author-box .smr-author-link {
  border-radius: 40px;
  padding: 5px 16px;
  color: #ff5050;
  background: transparent;
  border: 1px solid rgba(255, 80, 80, 0.7);
  text-transform: uppercase;
  font-size: 14px;
}
.smr-author-box .smr-author-link:hover {
  color: #FFF;
  background: #ff5050;
}
.smr-author-box .smr-website {
  border-radius: 50%;
  padding: 5px 8px;
}
.smr-author-posts:before {
  content: "\f0f6";
  font-family: "FontAwesome";
  margin-right: 7px;
}
.smr-prev-next {
  margin-bottom: 40px;
  float: left;
  width: 100%;
}
.smr-prev-next a {
  font-size: 18px;
  line-height: 24px;
  display: block;
  padding: 7px 0 7px;
}
.smr-prev-next .wp-post-image {
  width: 80px;
  border-radius: 50%;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.smr-prev-next .smr-prev-post {
  padding-right: 30px;
}
.smr-prev-next .smr-prev-post .wp-post-image,
.smr-prev-next .smr-prev-post .smr-placeholder-img {
  float: left;
  margin-right: 20px;
}
.smr-prev-next .smr-next-post {
  padding-left: 30px;
  text-align: right;
  float: right;
}
.smr-prev-next .smr-next-post .wp-post-image,
.smr-prev-next .smr-next-post .smr-placeholder-img {
  margin-left: 20px;
  float: right;
}
.smr-prev-next .smr-nopadding {
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.comments-area,
.smr-prev-next,
.smr-author-box {
  clear: both;
  padding-left: 80px;
  padding-right: 80px;
}
/*--------------------------------------------------------------
	7.0 Pagination
--------------------------------------------------------------*/
.smr-pagination {
  float: left;
  border-top: 1px solid #e2e2e2;
  padding: 40px 0 0;
  margin: 0 0 40px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 29px;
}
.smr-pagination a,
.smr-pagination .page-numbers {
  border-radius: 40px;
  padding: 5px 16px;
  display: inline-block;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.smr-pagination a {
  color: #ff5050;
  border: 1px solid rgba(255, 80, 80, 0.7);
}
.smr-pagination a:hover,
.smr-pagination .page-numbers.current {
  background: #ff5050;
  color: #FFF;
}
.smr-pagination .page-numbers.current {
  border: 1px solid rgba(255, 80, 80, 0.7);
}
.smr-pagination .smr-prev,
.smr-pagination .prev {
  text-align: left;
  float: left;
}
.smr-pagination .smr-prev i,
.smr-pagination .prev i {
  margin-right: 4px;
}
.smr-pagination .smr-next,
.smr-pagination .next {
  text-align: right;
  float: right;
}
.smr-pagination .smr-next i,
.smr-pagination .next i {
  margin-left: 4px;
}
.smr-pagination .next:after {
  font-family: "FontAwesome";
  content: "\f138";
  margin-left: 4px;
}
.smr-pagination .prev:before {
  font-family: "FontAwesome";
  content: "\f137";
  margin-right: 4px;
}
.smr-pagination .page-numbers {
  height: 41px;
  width: 41px;
}
.smr-pagination .prev.page-numbers,
.smr-pagination .next.page-numbers {
  width: auto;
}
/*--------------------------------------------------------------
	8.0 Widgets
--------------------------------------------------------------*/
.sidebar {
  font-size: 16px;
  line-height: 22px;
  max-width: 300px;
  float: right;
  margin-bottom: 40px;
}
.sidebar a {
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}
.sidebar a:hover {
  color: #ff5050;
}
.sidebar li {
  list-style: none;
  margin-bottom: 10px;
  line-height: 22px;
}
.sidebar ul {
  padding: 0;
}
.sidebar ul ul {
  padding: 10px 0 0 14px;
}
.widget {
  float: left;
  width: 100%;
  margin: 0 0 40px;
}
.widget-title {
  font-size: 22px;
  text-transform: uppercase;
  line-height: 32px;
  margin-top: -8px;
  padding: 5px 15px;
  border-bottom: 3px solid #dd3333;
  box-shadow: 0 0 4px #929292 inset;
}
.widget-title a {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 32px;
  margin-top: -8px;
}
.widget_recent_entries a {
  margin-left: 20px;
  display: block;
}
.widget_recent_entries .post-date {
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 14px;
}
.widget_recent_entries .post-date:before {
  content: "\f073";
  margin-right: 7px;
  font-size: 12px;
  font-family: "FontAwesome";
}
.widget_recent_comments .recentcomments a {
  margin-left: 20px !important;
  display: block !important;
}
.widget_recent_comments li:before,
.widget_archive li:before,
.widget_categories li:before,
.widget_meta li:before,
.widget_pages li:before,
.widget_recent_entries li:before,
.widget_nav_menu li:before {
  content: "\f10c";
  color: #ff5050;
  font-size: 10px;
  margin: 0 10px 0 0;
  float: left;
  font-family: "FontAwesome";
}
/* Make sure select elements fit in widgets. */
.widget select {
  max-width: 100%;
  width: 100%;
  height: 38px;
  border-radius: 40px;
  padding: 0 13px;
  border: 1px solid;
}
/* Search widget. */
.widget_search .search-submit {
  display: none;
}
.tagcloud a {
  border: 1px solid;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 28px;
  display: inline-block;
  border-radius: 20px;
  padding: 0 12px;
  font-size: 14px !important;
  margin-bottom: 5px;
}
.tagcloud a:before {
  content: "\f02b";
  font-family: "FontAwesome";
  margin-right: 5px;
}
.sidebar .smr-search-form,
.entry-content .smr-search-form {
  position: relative;
}
.sidebar .smr-search-form input[type="text"],
.entry-content .smr-search-form input[type="text"] {
  height: 38px;
  width: 100%;
  padding: 0 20px;
  border-radius: 40px;
}
.sidebar .smr-search-form .smr-search-submit,
.entry-content .smr-search-form .smr-search-submit {
  border: none;
  background: transparent;
  position: absolute;
  top: 6px;
  right: 10px;
}
.shamrock_posts_widget .entry-meta a,
.shamrock_posts_widget .entry-meta .meta-item,
.shamrock_posts_widget .entry-meta span {
  font-size: 14px;
  line-height: 20px;
}
.shamrock_posts_widget .entry-meta {
  margin-top: 0;
}
.shamrock_posts_widget .entry-meta i {
  font-size: 12px;
}
.shamrock_posts_widget .smr-placeholder-img {
  width: 60px;
  height: 60px;
  padding: 18px;
  float: left;
  margin-right: 10px;
  font-size: 24px;
}
.shamrock_posts_widget img {
  border-radius: 50%;
  max-width: 60px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.shamrock_posts_widget li {
  display: block;
  clear: both;
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
.shamrock_posts_widget li:before {
  display: none;
}
.shamrock_posts_widget li:last-child {
  margin-bottom: 0;
}
.sidebar .smr-search-form .smr-search-submit {
  top: -1px;
}
.shamrock_video_widget p {
  margin-bottom: 0;
}
.mks_author_widget .avatar {
  border-radius: 50%;
}
.mks_author_widget h3 {
  font-size: 20px;
  font-weight: normal;
}
.mks_autor_link_wrap a {
  border-radius: 40px;
  padding: 5px 16px;
  color: #ff5050;
  background: transparent;
  border: 1px solid rgba(255, 80, 80, 0.7);
  text-transform: uppercase;
  font-size: 14px;
}
.mks_autor_link_wrap a:hover {
  color: #FFF;
  background: #ff5050;
}
.mks_autor_link_wrap a:before {
  content: "\f0f6";
  font-family: "FontAwesome";
  margin-right: 7px;
}
/*--------------------------------------------------------------
	9.0 Widgets
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin: 0 30px 30px 0;
}
.alignright {
  display: inline;
  float: right;
  margin: 0 0 30px 30px;
}
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*--------------------------------------------------------------
	10.0 Post and pages
--------------------------------------------------------------*/
.sticky {
  display: block;
}
.entry-content {
  margin: 0;
  clear: both;
}
.entry-content,
.entry-footer {
  padding: 0 80px;
}
.entry-footer {
  margin-top: 30px;
}
.entry-footer .meta-tags a {
  border: 1px solid;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 28px;
  display: inline-block;
  border-radius: 20px;
  padding: 0 14px;
  margin-right: 3px;
  margin-bottom: 3px;
}
.entry-footer .meta-tags a:before {
  content: "\f02b";
  font-family: "FontAwesome";
  margin-right: 5px;
}
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding-bottom: 110px;
}
.single .smr-post {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.smr-full-width .entry-content p,
.smr-full-width .entry-header {
  padding: 0;
}
.smr-page .entry-header,
.smr-page .post-thumbnail {
  margin-bottom: 40px;
  padding: 0;
}
.smr-page .entry-content {
  padding: 0;
}
.smr-page.smr-no-sidebar {
  width: 100%;
}
.smr-page.smr-no-sidebar .entry-header {
  padding: 0 80px;
  width: 73%;
  left: 50%;
  margin-left: -36.5%;
}
.smr-page.smr-no-sidebar .entry-content {
  width: 73%;
  float: none;
  margin: 0 auto;
  padding: 0 80px;
}
.smr-no-sidebar {
  float: none;
  margin: 0 auto;
}
.smr-no-sid .entry-content,
.smr-no-sid .entry-footer,
.smr-no-sid .comments-area,
.smr-no-sid .smr-prev-next,
.smr-no-sid .smr-author-box {
  width: 73%;
  float: none;
  margin: 0 auto;
}
.smr-no-sid .comments-area,
.smr-no-sid .smr-prev-next,
.smr-no-sid .smr-author-box {
  margin-bottom: 40px;
}
.smr-no-sid .entry-header {
  padding: 0 80px;
  width: 73%;
  left: 50%;
  margin-left: -36.5%;
}
.smr-no-sid .smr-post.has-post-thumbnail .entry-header {
  padding: 0 80px 38px 80px;
  z-index: 10;
  width: 73%;
  left: 50%;
  margin-left: -36.5%;
  margin-bottom: 0;
}
.smr-no-sid .entry-footer {
  margin-top: 30px;
}
.smr-pagelinks-nav {
  margin: 0 auto;
  width: 682px;
  clear: both;
  padding: 20px 0;
  margin-bottom: 40px;
  position: relative;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
}
.smr-pagelinks-nav a {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border: 1px solid;
  border-radius: 40px;
  height: 30px;
  padding: 0 16px;
  display: inline-block;
  position: absolute;
  left: 0;
  line-height: 29px;
}
.smr-pagelinks-nav a i {
  margin-right: 5px;
}
.smr-pagelinks-nav a:last-child {
  left: initial;
  right: 0;
}
.smr-pagelinks-nav a:last-child i {
  margin-right: 0;
  margin-left: 5px;
}
/*--------------------------------------------------------------
	11.0 Comments
--------------------------------------------------------------*/
.comment-reply-title {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 32px;
  margin-top: -8px;
  margin-bottom: 0;
}
.comment-form label {
  text-transform: uppercase;
  vertical-align: top;
  font-weight: normal;
  width: 100%;
  display: block;
  line-height: 26px;
}
.comment-form p {
  margin-bottom: 20px;
}
.comment-form .comment-form-author,
.comment-form .comment-form-email,
.comment-form .comment-form-url {
  float: left;
  width: 33.33%;
  padding: 0 15px 0 0;
}
.comment-form .comment-form-url {
  padding: 0;
}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] {
  height: 38px;
  width: 100%;
  padding: 0 10px;
}
.comment-form textarea {
  width: 100%;
  padding: 10px;
  height: 200px;
  resize: vertical;
}
.comment-form .form-allowed-tags {
  display: none;
}
.comment-form .form-submit .submit {
  border-radius: 40px;
  padding: 5px 16px;
  color: #ff5050;
  background: transparent;
  border: 1px solid rgba(255, 80, 80, 0.7);
  text-transform: uppercase;
  height: 40px;
  font-size: 16px;
  line-height: 28px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.comment-form .form-submit .submit:hover {
  color: #FFF;
  background: #ff5050;
}
.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}
.comments-title {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 32px;
  margin-top: -8px;
  margin-bottom: 0;
  margin-bottom: 40px;
}
.comment-list {
  margin: 0;
  padding: 0;
}
.comment-list li {
  list-style: none;
}
.comment-list .comment-body {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e2e2e2;
}
.comment-list .avatar {
  border-radius: 50%;
  margin-right: 20px;
  float: left;
}
.comment-list .fn {
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
}
.comment-list .says {
  display: none;
}
.comment-list .comment-metadata,
.comment-list .comment-metadata a {
  font-size: 16px;
  line-height: 20px;
}
.comment-list .comment-meta {
  margin-bottom: 20px;
}
.comment-list .children {
  margin-left: 10px;
}
.comment-list .comment-reply-link {
  border-radius: 40px;
  padding: 4px 15px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  height: 30px;
  border: 1px solid #ff5050;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.comment-list .comment-reply-link:before {
  content: "\f112";
  font-family: "FontAwesome";
  margin-right: 5px;
  font-size: 12px;
}
.comment-list p {
  margin-bottom: 20px;
}
.comment-list .comment-respond {
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
#cancel-comment-reply-link {
  float: right;
  margin: 14px 0 0 0;
}
/*--------------------------------------------------------------
	12.0 Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}
iframe[src*="soundcloud"] {
  height: auto;
}
/*--------------------------------------------------------------
	13.0 Captions
--------------------------------------------------------------*/
.wp-caption {
  position: relative;
  margin-bottom: 1.5em;
  max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0 auto;
}
.wp-caption-text {
  text-align: center;
  font-size: 80%;
  line-height: 1.4em;
  margin: 5px 0;
}
/*--------------------------------------------------------------
	14.0 Galleries
--------------------------------------------------------------*/
.gallery-item,
.gallery-item a {
  display: inline-block;
  text-align: center;
  position: relative;
  vertical-align: top;
  width: 100%;
}
.meta-media .post-thumbnail {
  position: relative;
}
.gallery-item a:after,
.meta-media .post-thumbnail a:after {
  content: "\f002";
  font-family: "FontAwesome";
  color: #FFF;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 2px solid;
  line-height: 20px;
  margin-top: -25px;
  padding: 11px 0 13px;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: none;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.gallery-item a:hover:after,
.meta-media .post-thumbnail a:hover:after {
  opacity: 1;
}
.format-image .meta-media .post-thumbnail a:after {
  opacity: 0.7;
}
.format-image .meta-media .post-thumbnail a:hover:after {
  opacity: 1;
}
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}
.gallery-caption {
  display: none;
}
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}
.smr-photo-caption,
.wp-caption-text {
  position: absolute;
  top: 38px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.8);
  padding: 8px 11px 9px;
  font-size: 14px;
  line-height: 20px;
  z-index: 600;
  max-width: 30%;
  text-align: left;
  min-width: 140px;
  transition-delay: 0.4s;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.post-thumbnail:hover .smr-photo-caption,
.wp-caption:hover .wp-caption-text {
  background: rgba(0, 0, 0, 0.7);
  color: #FFF;
}
/*--------------------------------------------------------------
	15.0 Additional CSS
--------------------------------------------------------------*/
.error404 .entry-title {
  text-align: center;
}
.error404 .entry-content .smr-search-form {
  max-width: 500px;
  margin: 0 auto;
  position: relative;
}
.not-found .smr-search-form {
  max-width: 500px;
  position: relative;
}
.error404 .entry-content .smr-search-form input[type="text"],
.not-found .smr-search-form input[type="text"] {
  height: 55px;
  border-radius: 40px;
  padding: 0 20px;
  line-height: 55px;
}
.error404 .entry-content .smr-search-form .smr-search-submit,
.not-found .smr-search-form .smr-search-submit {
  top: 7px;
  right: 20px;
  border: none;
  position: absolute;
}
.smr-no-sid .smr-post.has-post-thumbnail .entry-header {
  padding: 0 80px 28px 80px;
}
table,
th,
td,
.mce-item-table,
.mce-item-table th,
.mce-item-table td {
  border: 1px solid #eaeaea;
}
table a {
  color: #333;
}
table,
.mce-item-table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 28px;
  width: 100%;
}
table th,
.mce-item-table th,
table caption {
  border-width: 0 1px 1px 0;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 15px;
  text-align: center;
  vertical-align: baseline;
}
table td,
.mce-item-table td {
  border-width: 0 1px 1px 0;
  font-size: 17px;
  padding: 7px;
  vertical-align: baseline;
  text-align: center;
}
label {
  font-weight: normal;
}
.rss-date,
.rssSummary {
  display: block;
  margin-bottom: 5px;
}
.rsswidget img {
  margin: -5px 5px 0 0;
}
.widget_rss ul {
  padding: 0 0 0 20px;
}
.widget_rss li:before {
  margin-left: -20px;
}
.mks_ads_widget ul,
.mks_ads_widget li {
  list-style: none;
}
.mks_ads_widget ul:before,
.mks_ads_widget li:before {
  display: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  border-radius: 40px;
  padding: 5px 16px;
  color: #ff5050;
  background: transparent;
  border: 1px solid rgba(255, 80, 80, 0.7);
  text-transform: uppercase;
  height: 40px;
  font-size: 16px;
  line-height: 28px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  color: #FFF;
  background: #ff5050;
}
.smr-placeholder-img {
  display: inline-block;
  background-color: #c5c5c5;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  text-align: center;
  padding: 24px;
  font-size: 32px;
  color: #FFF;
}
legend {
  padding-bottom: 10px;
}
.clear {
  clear: both;
}
/*--------------------------------------------------------------
	16.0 Plugins CSS
--------------------------------------------------------------*/
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}
.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.mfp-align-top .mfp-container:before {
  display: none;
}
.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}
.mfp-ajax-cur {
  cursor: progress;
}
.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
.mfp-auto-cursor .mfp-content {
  cursor: auto;
}
.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.mfp-loading.mfp-figure {
  display: none;
}
.mfp-hide {
  display: none !important;
}
.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}
.mfp-preloader a {
  color: #CCC;
}
.mfp-preloader a:hover {
  color: #FFF;
}
.mfp-s-ready .mfp-preloader {
  display: none;
}
.mfp-s-error .mfp-content {
  display: none;
}
button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}
.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
  filter: alpha(opacity=100);
}
.mfp-close:active {
  top: 1px;
}
.mfp-close-btn-in .mfp-close {
  color: #333;
}
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}
.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}
.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.mfp-arrow:active {
  margin-top: -54px;
}
.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
  filter: alpha(opacity=100);
}
.mfp-arrow-left {
  left: 10px;
}
button.mfp-arrow-left,
button.mfp-arrow-right {
  color: #FFF;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid;
  text-align: center;
  padding: 3px 0;
  font-size: 16px;
}
.mfp-arrow-right {
  right: 10px;
}
.mfp-arrow-left:before {
  content: "\f053";
  font-family: "FontAwesome";
}
.mfp-arrow-right:after {
  content: "\f054";
  font-family: "FontAwesome";
}
.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}
.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}
.mfp-iframe-holder .mfp-close {
  top: -40px;
}
.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}
.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}
/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}
/* The shadow behind the image */
.mfp-figure {
  line-height: 0;
}
.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}
.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px;
}
.mfp-figure figure {
  margin: 0;
}
.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}
.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px;
}
.mfp-image-holder .mfp-content {
  max-width: 100%;
}
.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}
@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
.mfp-ie7 .mfp-img {
  padding: 0;
}
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px;
}
.mfp-ie7 .mfp-container {
  padding: 0;
}
.mfp-ie7 .mfp-content {
  padding-top: 44px;
}
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0;
}
/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
  height: auto;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  z-index: 1;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: translateZ(0) scale(1, 1);
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
/* No Js */
.no-js .owl-carousel {
  display: block;
}
.owl-controls {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 100%;
  z-index: 100;
}
.owl-controls .owl-nav {
  width: 100%;
  color: #FFF;
}
.owl-controls .owl-nav .owl-prev,
.owl-controls .owl-nav .owl-next {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid;
  text-align: center;
  padding: 3px 0;
  font-size: 16px;
}
.owl-controls .owl-nav .owl-prev {
  position: absolute;
  left: 30px;
}
.owl-controls .owl-nav .owl-prev i {
  margin-left: -2px;
}
.owl-controls .owl-nav .owl-next {
  position: absolute;
  right: 30px;
}
.owl-controls .owl-nav .owl-next i {
  margin-right: -2px;
}
/*--------------------------------------------------------------
	17.0 Footer
--------------------------------------------------------------*/
.site-footer {
  float: left;
  width: 100%;
  display: block;
  position: relative;
  background: rgba(0, 0, 0, 0.8);
  padding: 40px 0;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: -110px;
}
.site-footer a {
  color: #ffffff;
}
.site-footer .site-info {
  float: left;
}
.site-footer .site-info a {
  text-decoration: underline;
}
.site-footer .smr-nav-footer {
  float: right;
  margin: 0;
  padding: 0;
}
.site-footer .smr-nav-footer li {
  display: inline-block;
  vertical-align: top;
  list-style: none;
  margin: 0 8px 0 0;
}
.site-footer .smr-nav-footer li:last-child {
  margin: 0;
}
/*--------------------------------------------------------------
	18.0 Responsive navigation
--------------------------------------------------------------*/
.smr-hamburger {
  display: none;
  z-index: 5000;
  position: absolute;
  top: 50%;
  right: 20px;
  padding: 10px;
  font-size: 32px;
  margin-top: -26px;
}
.smr-hamburger:hover {
  cursor: pointer;
}
.mobile-nav {
  display: table;
  z-index: 9500;
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 120%;
  color: #FFF;
  opacity: 0;
  background: #004c79;
  transition: all 0.3s ease;
  padding: 0 20px;
}
.mobile-nav.active {
  top: 0;
  opacity: 1;
}
@media (min-width: 1024px) {
  .mobile-nav {
    display: none;
  }
}
.mobile-nav .smr-res-nav {
  display: block;
  padding: 30px 0 20px;
  overflow-y: hidden;
  text-align: left;
  vertical-align: middle;
  list-style: none;
  margin: 0 auto 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.mobile-nav .smr-res-nav ul {
  margin: 0;
  padding: 0;
}
.mobile-nav .smr-res-nav ul .children,
.mobile-nav .smr-res-nav ul.sub-menu {
  padding: 5px 0 5px 10px;
}
.mobile-nav .smr-res-nav li {
  margin: 5px 0;
  list-style: none;
  display: block;
  max-width: 200px;
  position: relative;
}
.mobile-nav .smr-res-nav li a {
  font-size: 20px;
  color: #FFF;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
.mobile-nav .smr-res-nav li .sub-menu a {
  font-size: 18px;
}
.mobile-nav a.close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 24px;
  color: #FFF;
}
.close-btn {
  color: #FFF;
}
.mobile-nav.active {
  top: 0;
  opacity: 1;
}
#wrapper.behind {
  position: relative;
}
.site {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s ease;
}
.smr-resp-separator {
  display: none;
  width: 100%;
  height: 1px;
  float: left;
}
.smr-menu-parent {
  background: rgba(255, 255, 255, 0.1);
  height: 24px;
  width: 24px;
  display: inline-block;
  margin-left: 10px;
  border-radius: 5px;
  vertical-align: 3px;
  padding: 6px 0;
  text-align: center;
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 0;
}
.smr-menu-parent-activate .smr-menu-parent {
  background: rgba(255, 255, 255, 0.3);
}
.smr-res-social-wrap .smr-nav-social a {
  color: #FFF;
  font-size: 20px;
  margin: 0;
  padding: 0 10px;
  width: auto;
}
.smr-res-social-wrap {
  float: left;
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 20px;
}
.smr-res-search input[type="text"] {
  color: #333;
  height: 36px;
  border: none;
  width: 100%;
}
/*--------------------------------------------------------------
	19.0 Responsive classes
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Tablets
--------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1024px) {
  .entry-header {
    padding: 0 0 0 30px;
  }
  .entry-content,
  .entry-footer,
  .comments-area,
  .smr-prev-next,
  .smr-author-box {
    padding: 0 30px;
  }
  .smr-post.has-post-thumbnail .entry-header {
    padding: 0 30px 20px 30px;
  }
  .entry-header-wrapper,
  .meta-media {
    margin-bottom: 20px;
  }
  p {
    margin: 0 0 20px;
  }
}
/*--------------------------------------------------------------
## Responsive Navigation Settings
--------------------------------------------------------------*/
@media (max-width: 991px) {
  .smr-hamburger,
  .smr-resp-separator {
    display: block;
  }
  .site-navigation-wrapper {
    display: none;
  }
  .site-header .site-branding {
    padding: 20px 0 20px;
    float: left;
    text-align: left;
  }
}
/*--------------------------------------------------------------
## Tablets General
--------------------------------------------------------------*/
@media (max-width: 1199px) {
  .container {
    padding: 0;
  }
  .entry-title {
    font-size: 40px;
    line-height: 46px;
  }
  .entry-meta .meta-item,
  .entry-meta span,
  .entry-meta a {
    font-size: 15px;
    line-height: 27px;
  }
  .entry-meta .meta-item {
    margin-right: 10px;
  }
  .content-area.col-md-8 {
    padding-right: 0;
  }
  .content-area.smr-no-sid.col-md-8,
  .smr-page.smr-no-sidebar.col-md-8 {
    padding-right: 25px;
  }
  .sidebar.col-md-4 {
    padding-left: 0;
  }
  .smr-no-sid .entry-header,
  .smr-no-sid .entry-content,
  .smr-no-sid .entry-footer,
  .smr-no-sid .comments-area,
  .smr-no-sid .smr-prev-next,
  .smr-no-sid .smr-author-box,
  .smr-page.smr-no-sidebar .entry-content,
  .smr-page.smr-no-sidebar .entry-header {
    padding: 0 30px;
  }
  .col-lg-12 {
    float: none;
    margin: 0 auto;
  }
  .smr-no-sid .smr-post.has-post-thumbnail .entry-header {
    padding: 0 30px 20px 30px;
    width: 100%;
    left: 0;
    margin-left: 0;
  }
  .site-header .col-lg-12 {
    float: left;
    padding: 0 25px;
  }
  .smr-page .entry-header,
  .smr-page .post-thumbnail {
    margin-bottom: 20px;
  }
  .smr-no-sid.col-md-8 {
    width: 100%;
  }
  .smr-no-sid .smr-post.has-post-thumbnail .entry-header {
    z-index: 10;
    width: 73%;
    left: 50%;
    margin-left: -36.5%;
    margin-bottom: 0;
  }
}
/*--------------------------------------------------------------
## Smaller tablets
--------------------------------------------------------------*/
@media (max-width: 991px) {
  .content-area.col-md-8 {
    padding-right: 25px;
  }
  .smr-no-sid .entry-header,
  .smr-no-sid .entry-content,
  .smr-no-sid .entry-footer,
  .smr-no-sid .comments-area,
  .smr-no-sid .smr-prev-next,
  .smr-no-sid .smr-author-box,
  .smr-page.smr-no-sidebar .entry-content,
  .smr-page.smr-no-sidebar .entry-header,
  .entry-content,
  .entry-footer,
  .comments-area,
  .smr-prev-next,
  .smr-author-box {
    padding: 0 30px;
  }
  .smr-post.has-post-thumbnail .entry-header {
    padding: 0 30px 20px 30px;
  }
  .entry-header {
    padding: 0 0 0 30px;
  }
  .smr-page.smr-no-sidebar .entry-content,
  .smr-page.smr-no-sidebar .entry-header,
  .smr-no-sid .smr-post.has-post-thumbnail .entry-header,
  .smr-no-sid .entry-content,
  .smr-no-sid .entry-header,
  .smr-no-sid .entry-content,
  .smr-no-sid .entry-footer,
  .smr-no-sid .comments-area,
  .smr-no-sid .smr-prev-next,
  .smr-no-sid .smr-author-box,
  .smr-page.smr-no-sidebar .entry-content,
  .smr-page.smr-no-sidebar .entry-header,
  .entry-content,
  .entry-footer,
  .comments-area,
  .smr-prev-next,
  .smr-author-box {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
}
/*--------------------------------------------------------------
## Mobile
--------------------------------------------------------------*/
@media (max-width: 620px) {
  .smr-no-sid .entry-header {
    width: 100%;
    padding: 0;
    left: 0;
    margin-left: 0;
  }
  .smr-no-sid .entry-content,
  .smr-no-sid .entry-footer,
  .smr-no-sid .comments-area,
  .smr-no-sid .smr-prev-next,
  .smr-no-sid .smr-author-box {
    width: 100%;
    padding: 0;
  }
  .col-lg-12 {
    float: none;
    margin: 0 auto;
  }
  .site-header .col-lg-12 {
    float: left;
  }
  .entry-header {
    padding-left: 0;
  }
  .smr-no-sid .smr-post.has-post-thumbnail .entry-header {
    padding: 0 0 20px 0;
    width: 100%;
    left: 0;
    margin-left: 0;
  }
  .site-main .smr-post.has-post-thumbnail .entry-header {
    padding: 0 0 10px 0;
    width: 100%;
    left: 0;
    margin-left: 0;
    position: relative;
  }
  .format-video .meta-media,
  .format-gallery .meta-media,
  .format-audio .meta-media,
  .post-thumbnail {
    margin-bottom: 20px;
  }
  .smr-post {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .meta-media {
    margin-bottom: 0;
  }
  body {
    font-size: 16px;
    line-height: 24px;
  }
  .post-categories a {
    line-height: 26px;
  }
  .entry-meta .meta-item,
  .entry-meta span,
  .entry-meta a {
    font-size: 14px;
  }
  .entry-meta .meta-item {
    margin-right: 15px;
  }
  .site-header .site-title {
    font-size: 36px;
    max-width: 300px;
    display: inline-block;
  }
  .entry-title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 10px;
  }
  .entry-header-wrapper {
    margin-bottom: 0;
  }
  p,
  blockquote {
    margin: 0 0 20px 0;
  }
  .entry-content,
  .entry-footer {
    padding: 0;
  }
  .smr-prev-next a {
    font-size: 16px;
    max-width: 300px;
    padding: 10px 0;
  }
  .smr-prev-next .smr-prev-post .wp-post-image {
    margin-right: 10px;
  }
  .smr-prev-next .smr-next-post .wp-post-image {
    margin-left: 10px;
  }
  .smr-prev-next .smr-nopadding {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
  }
  .smr-no-sid .comments-area,
  .smr-no-sid .smr-prev-next,
  .smr-no-sid .smr-author-box {
    margin-bottom: 20px;
  }
  .smr-post-separator {
    margin-top: 20px;
  }
  .site-footer .site-info {
    text-align: center;
    margin-bottom: 10px;
    float: none;
  }
  .site-footer .smr-nav-footer {
    float: none;
    text-align: center;
    clear: both;
  }
  .site-footer {
    padding: 20px 0;
    font-size: 14px;
    margin-top: auto;
  }
  .sidebar {
    width: 100%;
    max-width: initial;
    margin-bottom: 20px;
    padding: 0 20px;
  }
  .sidebar.col-md-4 {
    padding-left: 20px;
  }
  .widget,
  .comments-title,
  .site-header {
    margin-bottom: 20px;
  }
  .has-post-thumbnail .entry-header-wrapper {
    margin-bottom: 0;
  }
  .smr-no-sid .entry-header,
  .smr-no-sid .entry-content,
  .smr-no-sid .entry-footer,
  .smr-no-sid .comments-area,
  .smr-no-sid .smr-prev-next,
  .smr-no-sid .smr-author-box,
  .smr-page.smr-no-sidebar .entry-content,
  .smr-page.smr-no-sidebar .entry-header,
  .entry-content,
  .entry-footer,
  .comments-area,
  .smr-prev-next,
  .smr-author-box {
    padding: 0;
  }
  .comment-form .comment-form-author,
  .comment-form .comment-form-email,
  .comment-form .comment-form-url {
    width: 100%;
    padding: 0;
  }
  #wrapper {
    padding-bottom: 20px;
  }
}
@media (max-width: 450px) {
  .sidebar {
    width: 100%;
    max-width: initial;
    margin-bottom: 20px;
    padding: 0 20px;
    font-size: 14px;
    line-height: 22px;
  }
  .site-header .site-title {
    max-width: 220px;
    display: inline-block;
  }
  .site-header .site-branding {
    padding: 10px 0;
  }
  .entry-title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 0;
  }
  .post-categories {
    margin-bottom: 0;
  }
  .post-categories a {
    font-size: 13px;
  }
  .format-video .meta-media,
  .format-gallery .meta-media,
  .format-audio .meta-media,
  .post-thumbnail {
    margin-bottom: 10px;
  }
  .entry-meta .meta-item {
    margin-right: 5px;
  }
  .more-link {
    font-size: 14px;
    line-height: 26px;
    padding: 4px 16px;
    height: 36px;
  }
  .entry-header-wrapper,
  .smr-page .entry-header,
  .smr-page .post-thumbnail {
    margin-bottom: 10px;
  }
  .sidebar.col-md-4 {
    padding-left: 30px;
  }
  table th,
  .mce-item-table th,
  table caption {
    padding: 10px 0;
  }
  #wrapper {
    padding-bottom: 20px;
  }
}


.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}