ul.tire-sales li {
    display: inline-block;
    margin: 5px;
}
ul.tire-title li {
    display: inline-block;
    padding: 10px 10px;
    border-right: 1px solid #f1f1f1;
    vertical-align: bottom;
    font-size: 12px;
}
ul.tire-title li.last {
    border-right: 0px solid;
}
.disc-tag {
    background: #ef1a1a;
    color: #fff !important;
    font-size: 18px !important;
    font-family: 'Museo 700', Arial, sans-serif;
    border-radius: 50px;
    padding: 15px;
}
.tire-name {
    font-family: "Alice" !important;
    font-size: 30px !important;
    color: #b11f27 !important;
    font-weight: 400 !important;
}
.tire-price h2 {
    font-size: 30px !important;
    color: #ff8831 !important;
    text-align: left;
    font-family: 'Museo 700', Arial, sans-serif;
}
.tire-price span {
    font-size: 12px !important;
    color: #000!important;
}
.bg-tire {
    background: #f5f5f5;
    padding: 20px;
}
.buy-now-green {
    font-size: 18px !important;
    border-radius: 0px !important;
    padding: 15px !important;
    line-height: 15px !important;
    height: 50px !important;
    border: 1px solid #66a210 !important;
    background: #66a210 !important;
}/* Top Bar */

#topBar.dark {
    color: #CCC;
    background-color: #B11F27;
    border-bottom-color: rgba(255, 255, 255, 0.1);
}
section.engage {
    padding: 44px 0px 0px 0px !important;
}
#header ul.nav-second-main {
    border-left: 0px solid rgba(0, 0, 0, 0.1) !important;
    padding-left: 0px !important;
    margin-top: 30px !important;
    transition: all 0.3s ease 0s;
}
#topNav a.logo {
    height: 80px !important;
    line-height: 76px !important;
    overflow: hidden;
    display: inline-block;
    margin-top: -30px;
}
#topMain > li > a {
    height: 80px !important;
    line-height: 50px !important;
}


/* Fonts */


.museo-100 {
    font-family: 'Museo-100', Arial, sans-serif;
}

.museo-300 {
    font-family: 'Museo-300', Arial, sans-serif;
}
.museo-500 {
    font-family: 'Museo-500', Arial, sans-serif;
}
.museo-700 {
    font-family: 'Museo-700', Arial, sans-serif;
}
.museo-900 {
    font-family: 'Museo-900', Arial, sans-serif;
}

/* Social Icons */

.social-icon {
    margin: 0px 5px 5px 0px;
    width: 40px;
    height: 40px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-color: transparent;
    overflow: hidden;
    display: inline-block;
    text-decoration: none !important;
    text-align: center;
    cursor: pointer;
    font-style: normal;
    letter-spacing: 0em !important;
    color: #EAEAEA !important;
    border-radius: 15px !important;
}

/* Font */
body {
    color: #666;
    font-family: "Roboto",Arial,Helvetica,sans-serif !important;
    font-size: 15px;
    line-height: 1.5;
}

.font-alice {
    font-family: "Alice" , Arial, sans-serif !important;
}

.font-proxima {
    font-family: "ProximaNova" , Arial, sans-serif !important;
}

/* Text */

#topMain.nav-pills > li.menu-head > a{
    font-family: "Roboto", Arial, sans-serif !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
}

#topMain.nav-pills > li.active > a {
    color: #b11f27 !important;
}
#topMain.nav-pills > li:hover > a, #topMain.nav-pills > li:focus > a {
    color: #b11f27;
    background-color: rgba(255, 255, 255, 0.03) !important;
}

.tp-bannertimer {
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% !important;
    height: 2px !important;
}

.tp-caption {
    text-shadow: 0px 0px 0px #000;
}
.tp-caption.large_bold_black {
    font-size: 58px;
    line-height: 60px;
    font-weight: 400;
    font-family: "Alice" !important;
    color: #000;
    text-decoration: none;
    background-color: transparent;
    border-width: 0px;
    border-color: #FFD658;
    border-style: none;
}

.small_light_red {
    font-size: 23px;
    line-height: 28px;
    font-weight: 400;
    font-family: "Roboto" !important;
    color: #b11f27 !important;
    text-decoration: none;
    background-color: transparent;
    padding: 0px;
    border-width: 0px;
    border-color: #FFD658;
    border-style: none;
}

.info-bar div.row > div i {
    color: #333;
    font-size: 16px;
    line-height: 1.2;
    margin-right: 0px;
    float: left;
}

.info-bar h1, .info-bar h2, .info-bar h3, .info-bar h4, .info-bar h5, .info-bar h6, .info-bar p {
    color: #000;
    font-size: 22px;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.info-bar div.row > div {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px !important;
    border-right: none !important;
}

.info-bar .btn {
    padding: 4px 12px !important;
}

.info-bar .btn, .form-control {
    height: 30px !important;
}

.latest-head {
    font-family: "Alice" !important;
    font-size: 50px !important;
    color: #000 !important;
}
.container hr {
    background: url(../img/border-car.png) 0px 0px no-repeat scroll;
    height: 30px;
}

div.shop-item > .thumbnail {
    background-color: transparent !important;
    border-color: #DDD !important;
    margin-bottom: 6px;
    position: relative;
}
.thumbnail {
    display: block;
    padding: 0px !important;
    padding-bottom: 20px !important;
    margin-bottom: 20px;
    line-height: 1.42857;
    background-color: #FFF;
    border: 0px solid #DDD !important;
    border-radius: 0px;
    box-shadow: 2px 0px 10px #e0dfe0!important;
    transition: border 0.2s ease-in-out 0s;
}
div.shop-item > .thumbnail > a.shop-item-image > img {
    border-radius: 0px !important;
}
.product-name {
    font-family: "Alice" !important;
    font-size: 32px !important;
    color: #000 !important;
    font-weight: 400 !important;
}
.product-desc {
    font-family: "Roboto" !important;
    font-size: 15px !important;
    color: #000 !important;
}

div.shop-item-details {
    font-size: 15px;
    margin-top: 20px;
    font-weight: bold;
}
div.shop-item-details > span {
    color: #000;
    font-size: 13px;
    display: inline-block;
    padding: 0px 15px;
    font-weight: 400;
    border: 1px solid #ececec !important;
}
.hid-margin {
    margin-top: 10px  !important;
    }
@media (min-width: 320px) and (max-width:767px) {
.hid-margin {
    margin-top: -40px  !important;
    }
}
.margin-bottom-30 {
    margin-bottom: 30px !important;
}
.padding-left-10 {
    padding-left: 10px;
}
.padding-left-20 {
    padding-left: 20px;
}
.padding-left-30 {
    padding-left: 30px;
}
.padding-right-10 {
    padding-right: 10px;
}
.padding-right-20 {
    padding-right: 20px;
}
.padding-right-30 {
    padding-right: 30px;
}
img.img-round {
    border-radius: 50% !important;
}

.bg-red {
    background: #b11f27 !important;
}

.color-white {
    color: #fff !important;
}
.color-black {
    color: #000 !important;
}
.color-red {
    color: #b11f27 !important;
}
.color-yellow {
    color: #f4f100 !important;
}

.btn-engage {
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
    box-shadow: 2px 2px 3px #000;
    padding: 6px 30px;
    height: 35px !important;
}

.btn-grey {
    color: #333;
    border-color: #efefef !important;
    background-color: #efefef !important;  
}

.btn-grey:hover {
    background-color: #dadada !important;  
}

.btn-white-low {
    border: 0px none;
    background-color: rgba(255, 255, 255, 0.4) !important;
    color: #fff !important;
    font-size: 35px;
    padding: 12px 30px;
    height: 50px; 
}
.btn-white-gradient {
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #d5d5d5, #818181, 0.8); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #d5d5d5, #818181, 0.8); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #d5d5d5, #818181, 0.8); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #d5d5d5, #818181, 0.8); /* Standard syntax */
}

.box-shadow {
    box-shadow: 1px 2px 8px #212020;
}
.text-shadow {
    text-shadow: 1px 1px 1px #333;
}

.car-rental{
    display: block;
    padding: 0px !important;
    line-height: 1.42857;
    background-color: #FFF;
    border: 0px solid #DDD !important;
    border-radius: 5px !important;
    box-shadow: 2px 0px 10px #000!important;
}

.margin-border {
    border-radius: 50px;
    border: 4px solid rgb(255, 255, 255);
    display: block;
    height: 58px;
    width: 290px;
    margin-left: 420px;
    font-size: 32px !important;
}
@media (max-width:768px){
    .margin-border {
    border-radius: 50px;
    border: 4px solid rgb(255, 255, 255);
    display: block;
    height: 58px;
    width: 290px;
    margin-left: 200px;
    font-size: 32px !important;
    }
}

@media (max-width:320px){
    .margin-border {
    border-radius: 50px;
    border: 4px solid rgb(255, 255, 255);
    display: block;
    height: 58px;
    width: 290px;
    margin-left: 0px;
    font-size: 32px !important;
    }
}
@media (max-width:360px){
    .margin-border {
    border-radius: 50px;
    border: 4px solid rgb(255, 255, 255);
    display: block;
    height: 58px;
    width: 290px;
    margin-left: 0px;
    font-size: 32px !important;
    }
}

/* LABEL */

div.shop-item > .thumbnail > .shop-item-info {
    position: absolute !important;
    top: 20px !important;
    left: 242px !important;
    z-index: 20;
    width: 70px;
    float: right !important;
}
@media (max-width: 320px) {
div.shop-item > .thumbnail > .shop-item-info {
    position: absolute !important;
    top: 20px !important;
    left: 152px !important;
    z-index: 20;
    width: 70px;
    }
}
@media (min-width: 360px) {
div.shop-item > .thumbnail > .shop-item-info {
    position: absolute !important;
    top: 20px !important;
    left: 192px !important;
    z-index: 20;
    width: 70px;
    }
}
@media (min-width: 768px) {
div.shop-item > .thumbnail > .shop-item-info {
    position: absolute !important;
    top: 20px !important;
    left: 102px !important;
    z-index: 20;
    width: 70px;
    }
}

@media (min-width: 1170px) {
div.shop-item > .thumbnail > .shop-item-info {
    position: absolute !important;
    top: 20px !important;
    left: 242px !important;
    z-index: 20;
    width: 70px;
    }
}
div.shop-item > .thumbnail > .shop-item-info > .label {
    min-width: 50px;
    text-align: center;
    font-size: 14px !important;
    margin-bottom: 3px;
    display: initial !important;
}
.label {
    padding: 0.4em 0.6em;
}
.badge, .label {
    font-weight: 400;
}
.label-danger {
    background-color: #b11f27;
}
.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0;
}

/* BUTTON NEW */

.btn.buy-now {
    border-radius: 0px !important;
    padding: 8px !important;
    line-height: 15px !important;
    height: 30px !important;
    background: rgb(30,87,153); /* Old browsers */
    background: -moz-linear-gradient(left, #b11f27 0%, #b11f27 68%, #b11f27 68%, #000 68%, #000 68%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #b11f27 0%,#b11f27 68%,#b11f27 68%,#000 68%,#000 68%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #b11f27 0%,#b11f27 68%,#b11f27 68%,#000 68%,#000 68%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.btn.was-now {
    border-radius: 0px !important;
    padding: 8px !important;
    line-height: 15px !important;
    height: 30px !important;
    background: rgb(30,87,153); /* Old browsers */
    background: -moz-linear-gradient(left, #fff 30%, #b11f27 30%, #b11f27 76%, #b11f27 76%, #000 76%, #000 76%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,#fff 30%, #b11f27 30%,#b11f27 76%,#b11f27 76%,#000 76%,#000 76%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #fff 30%, #b11f27 30%,#b11f27 76%,#b11f27 76%,#000 76%,#000 76%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
span.border-red {
    padding: 3px 8px !important;
    border: 2px solid #b11f27 !important;
}

#footer {
    background: #dfdfdf !important;
}

#footer > .container {
    padding-top: 10px;
    margin-bottom: 30px;
}

#footer img.logo-footer  {
    margin-bottom: 0px;
}

#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8) !important;
}

#footer a {
    color: #000 !important;
}

/* Product */

.nav.product>li>a {
    position: relative;
    display: block;
    padding: 10px 30px;
    width: 244px;
    margin-right: -5px;
    text-align: center;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
}
.nav-tabs>li>a:hover {
    border-color: aliceblue;
}
ul.product {
    border-bottom: 4px solid #b11f27;
}
.nav.product>li {
    border-left: 4px solid #fff;
}
.nav.product>li.first {
    border-left: 0px solid #fff;
}
ul.type{
    width:84%;
    margin-left: 6%;
}
.nav.product.type>li {
    border-left: 4px solid #fff;
    margin-right: 3px;
}
.nav.product.type>li.first {
    border-left: 0px solid #fff;
    margin-right: 3px;
}
.thumbnail-bg {
    padding: 20px;
    background: #f0f0f0;
}
.owl-carousel.featured {
    margin-top: 0px;
}
.nav-tabs.product>li>a, .nav-tabs.product>li>a:focus, .nav-tabs.product>li>a:hover {
    color: #fff !important;
    cursor: default;
    background-color: #b1aeae !important;
    border-radius: 0px !important;
    border-width: 0px;
}

.nav-tabs.product>li.active>a, .nav-tabs.product>li.active>a:focus, .nav-tabs.product>li.active>a:hover {
    color: #fff !important;
    cursor: default;
    background-color: #b11f27 !important;
}
.nav-tabs.nav-bottom-border.product>li>a {
    border: 0 !important;
    border-bottom: rgba(177, 31, 39, 1) 5px solid !important;
    border-radius: 0px !important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px solid #ddd;
}
.border-box {
    border: 1px solid #f1f1f1;
    background: #f5f5f5;
    padding: 25px;
    box-shadow: 0px 0px 3px #f1f1f1;
}
.inner-border {
    border: 1px solid #c7c5c4;
    padding: 20px;
}
.form-border {
    border: 1px solid #e1e1e1;
    border-radius: 0px;
}
.noborder-radius {
    border-radius: 0px !important;
}
.border-box-white {
    border: 1px solid #f1f1f1;
    background: #fff;
    padding: 5px;
    box-shadow: 0px 0px 3px #f1f1f1;
}
.border-box-red {
    border: 1px solid #B11F27;
    background: #B11F27;
    padding: 10px;
}
.header-tabs>li>a {
    font-size:  13px;
    border-right: 1px solid #f1f1f1 !important;
}

.header-tabs>li.active>a {
    font-size: 16px;
}
.bordered {
    border: 1px solid #f1f1f1;

}
.box-icon {
    padding: 20px;
}
.color-grey {
    color: #999999;
}
.padding-top-5 {
    padding-top: 5px;
}
form label {
    font-weight: 400;
    color: #000;
}
form.car-quote label {
    font-weight: 700;
    color: #000;
}
.color-blue {
    color: #3b5998;
}
ul.cars-option li {
    display: inline-block;
    padding: 3px;
}
ul.cars-option li a {
    font-size: 13px;
}

.cars .radio, .cars .checkbox {
    display: block;
    margin: 0 15px 15px 15px;
    padding-left: 27px;
    font-size: 20px;
    line-height: 27px;
    color: #141414;
    cursor: pointer;
    font-weight: 700;
}
.nav-tabs.nav-top-border>li>a, .nav-tabs.nav-top-border>li>a:hover {
    background-color: #B1AEAE !important;
    border-color: transparent !important;
}
.nav-tabs.cars li a {
    margin-right: 0px;
    padding: 15px 104px;
    font-size: 24px ;
}
.nav-tabs.cars li{
    border-radius: 0px !important;
}
.nav-tabs.cars li.first {
    border-right: 1px solid #999;
}
.noshadow {
    box-shadow: none !important;
}
.box-red {
    background: #b11f27;
    text-align: center;
    border-bottom: 4px solid #000;
    padding: 5px;
}
.box-red tr th {
    color: #fff;
    font-family: "Museo-300";
}
.reservation-details {
    padding: 5px;
}

.reservation-details h2{
    margin: 5px 0 5px 5px !important;
    display: inline;
    font-family: 'Museo-300';
}
.border-bottom {
    border-bottom: 1px solid #d7d7d7;
}
.border-bottom-light {
    border-bottom: 1px solid #f1f1f1;
}
.table-shadow {
    box-shadow: 0px 0px 8px #f5f5f5;
}
.nav-tabs.cars li a {
    border-radius: 0px !important;
}
.thumbnail.nopadding {
    display: block;
    padding: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 20px;
    line-height: 1.42857;
    background-color: #FFF;
    border: 0px solid #DDD !important;
    border-radius: 0px;
    transition: border 0.2s ease-in-out 0s;
}
.box-red h2 {
    color: #fff;
    font-family: 'Museo-300';
    padding-left: 50px;
    text-align: left;
}

ul.product-details li {
    display: block;
    border-bottom: 1px solid #f5f5f5;
    padding-left: 50px;
}

ul.product-details li.last {
    border-bottom: 0px solid #f5f5f5;
    margin:0px;
}

ul.product-details li h3 {
    display: inline-block;
    font-size: 20px;
    color: #969696;
    font-family:'Museo-300';
    margin: 15px;
    vertical-align: middle;
}
tr.box-red h3 {
    color: #fff;
    font-size: 18px;
    font-family: 'Museo-300';
    padding-left: 50px;
    text-align: left;
    margin: 0px;
}
tr h4 {
    color: #969696;
    font-size: 16px;
    font-family: 'Museo-300';
    padding-left: 50px;
    text-align: left;
    margin: 0px;
}
tr.total h4 {
    color: #969696;
    font-size: 16px;
    font-family: 'Museo-300';
    padding-left: 41px;
    text-align: left;
    margin: 0px;
}
.table>tbody+tbody {
    border-top: 0px solid #ddd;
}

.grey-bg {
    background: #f5f5f5;
}
.form-control {
    border: #f1f1f1 1px solid;
    box-shadow: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 0px;
}

.fetch .form-control {
    height: 42px !important;
}
.btn-green {
    background: #4bc651 !important;
}
.radio+.radio {
 margin-top: 0px;
}
ul.tire-sales li {
    display: inline-block;
    margin: 5px;
}
ul.tire-title li {
    display: inline-block;
    padding: 10px 10px;
    border-right: 1px solid #f1f1f1;
    vertical-align: bottom;
    font-size: 12px;
}
ul.tire-title li.last {
    border-right: 0px solid;
}
.disc-tag {
    background: #ef1a1a;
    color: #fff !important;
    font-size: 18px !important;
    font-family: 'Museo 700', Arial, sans-serif;
    border-radius: 50px;
    padding: 15px;
}
.tire-name {
    font-family: "Alice" !important;
    font-size: 30px !important;
    color: #b11f27 !important;
    font-weight: 400 !important;
}
.tire-price h2 {
    font-size: 30px !important;
    color: #ff8831 !important;
    text-align: left;
    font-family: 'Museo 700', Arial, sans-serif;
}
.tire-price span {
    font-size: 12px !important;
    color: #000!important;
}
.bg-tire {
    background: #f5f5f5;
    padding: 20px;
    text-align: right;
}
.buy-now-green {
    font-size: 18px !important;
    border-radius: 0px !important;
    padding: 15px !important;
    line-height: 15px !important;
    height: 45px !important;
    border: 1px solid #66a210 !important;
    background: #66a210 !important;
}
.thumbnail.nopadding-bottom {
    padding-bottom: 0px !important;
}
.img-width img {
    width: 105px;
}

@media(max-width:1023px) and (min-width:768px) {
  .img-width img {
    width: 60px;
}  
}
.btn-confirm {
    padding: 4px 15px;
    font-size: 15px;
}
.padding-4 {
    padding: 4px;
}
.bg-grey {
    background: #f5f5f5;
}
/* POP UP LOGIN */

.modal-dialog {
    width: 700px;
    margin: 30px auto;
}
.modal-sm {
    width: 300px;
}
.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 0px solid #E5E5E5 !important;
}
.modal-header .close {
    margin-top: -70px;
    color: #f38e1e !important;
}
.modal-footer {
    padding: 0px !important;
    text-align: right;
    border-top: 0px solid #E5E5E5 !important;
}
.page-header.page-header-xs ul.page-header-tabs {
    display: block;
    text-align: left;
    margin-bottom: -25px;
    margin-top: 0px !important;
}
section.page-header {
    position: relative;
    padding: 50px 0px;
    border-top: 0px none;
    margin-top: 0px;
    margin-bottom: 0px !important;
    background-color: rgba(255, 255, 255,1) !important;
    border-bottom: 3px solid rgba(227, 227, 227, 1) !important;
    transition: all 0s ease 0s;
}
#mainDiv {
  /* width: 200px; */
  position: relative;
  border-bottom: 3px solid rgba(227, 227, 227, 1) !important;
}
.page-header ul.page-header-tabs > li {
    background-color: rgba(0, 0, 0, 0) !important;
    padding: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.page-header ul.page-header-tabs > li > a {
    display: inline-block;
    padding: 6px 20px;
    text-decoration: none;
}
.page-header.dark ul.page-header-tabs > li.active:hover, .page-header ul.page-header-tabs > li.active {
    font-weight: normal !important;
    background-color: #FFF;
    color: #000 !important; 
    border-bottom: 5px solid rgb(243, 142, 30);
}
.page-header.dark ul.page-header-tabs > li > a.active:hover, .page-header ul.page-header-tabs > li > a.active {
    font-weight: normal !important;
    background-color: #FFF;
    color: #000 !important; 
    border-bottom: 5px solid rgb(243, 142, 30);
}

section.featured-grid div.row > div .ribbon::before, .modal-content {
    border-top-color: #fff !important;
}

.name-width {
   padding-right: 27px;
}
.email2-width {
   padding-right: 30px;
}
.pass2-width {
    padding-right: 5px;
}
.email-width {
   padding-right: 35px;
}
.pass-width {
    padding-right: 10px;
}
.signup-margin {
    margin-top: -10px;
}
.tab-content {
    padding: 0px 0px;
}

.alert-danger {
    color: #f38e1e !important;
    background-color: #FFF;
    border-color: #e5e5e5 !important;
}
.sky-form .button, .sky-form .checkbox, .sky-form .input, .sky-form .radio, .sky-form .select, .sky-form .textarea, .sky-form .toggle {
    position: relative;
    display: inline-flex !important;
    width: 100% !important;
}

.sky-form .input input, .sky-form .select select, .sky-form .textarea textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 8px 10px;
    outline: 0px none;
    border-width: 1px !important;
    border-style: solid;
    border-radius: 0px;
    background: #FFF none repeat scroll 0% 0%;
    font: 15px/19px "Open Sans",Helvetica,Arial,sans-serif;
    color: #404040;
    -moz-appearance: none;
}

.sky-form .checkbox i, .sky-form .radio i {
    position: absolute;
    top: 5px;
    left: 0px;
    display: block;
    width: 19px;
    height: 19px;
    outline: 0px none;
    border-width: 2px;
    border-style: solid;
    background: #FFF none repeat scroll 0% 0%;
}
.margin-top-5 {
    margin-top: 5px !important;
}
.margin-left {
    margin-left: 86px !important;
}
.btn-left {
    margin-left: 61px !important;
}
.btn-left-2 {
    margin-left: 50px !important;
}
.sky-form .checkbox input + i::after {
    color: #f38e1e !important;
}
.sky-form footer {
    margin: 0px 15px 10px;
    border-top: 0px solid rgba(0, 0, 0, 0.03) !important;
}
.sky-form .radio input:checked + i, .sky-form .checkbox input:checked + i, .sky-form .toggle input:checked + i {
    border-color: #f38e1e !important;
}

.login-checker {
    background: #E5E5E5 none repeat scroll 0% 0%;
    padding: 5px 10px;
    /* width: 224px; */
    left: -1px;
    margin-bottom: 10px;
}

input.err, input.error, textarea.err, textarea.error, select.err, select.error {
    border: 2px dashed #f38e1e !important;
    background-color: #FDFBFB !important;
    transition: all 0.2s ease-in 0s;
}
.btn-facebook {
    border-color: rgba(0, 0, 0, 0.2);
    color: #FFF;
    background: linear-gradient(#2f4885, #385397, #2f4885);
}
.btn-social > :first-child {
    position: absolute;
    left: 6px;
    top: 4px;
    bottom: 0px;
    width: 30px !important;
    line-height: 30px !important;
    font-size: 1.2em !important;
    text-align: center;
    border: 1px solid rgba(113, 112, 112, 0.3) !important;
    border-radius: 50% !important;
}
.btn-google {
    color: #FFF;
    border-color: rgba(0, 0, 0, 0.2);
    background: linear-gradient(#e02e11, #ee3517, #e02e11);
}
.fb {
        box-shadow: 0px 0px 16px #4961A0 inset;
}
.gp {
    box-shadow: 0px 0px 16px #e13519 inset;
}
.btn-social > i {
    padding-right: 0px;
    height: 30px !important;
}
.modal-backdrop {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 999 !important;
    background-color: #000;
}

.modal-dialog {
    border-radius: 0px !important;
    box-shadow: none !important;
    border: 12px solid rgba(0, 0, 0, 0.5);
}

.progress-bar{
    text-align: center;
    float: left;
    position: relative;
    color: #DDD;
    border-bottom: 6px solid #DDD;
    width: 60%;
    font-size: 24px;
    background: #fff !important;
}
.progress-bar:active{
    text-align: center;
    float: left;
    position: relative;
    color: #000 !important;
    border-bottom: 6px solid #f38e1e;
    width: 60%;
    font-size: 24px;
}
.progress-bar a {
    color: #ddd !important;
}
.coupon-inner {
    border: 1px solid #E9E9E9;

    transition: all 0.4s ease-in-out 0s;
}
.coupon-inner:hover {
    border-color: #F38E1E;
}
.restaurants{
    font-size: 20px;
    text-align: center;
    color: #141414;
    line-height: 26px;
    margin-top: 15px;
    display: inline-block;
    width: 100%;
    margin-bottom: 28px;
    padding: 0px 20px;
}
.border-left {
    border-left: 1px solid #e5e5e5;
}
.coupon-inner .head {
    font-size: 20px;
    text-align: center;
    color: #141414;
    line-height: 26px;
    margin-top: 47px !important;
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
    padding: 0px 20px;
}

.form-control {
    border: #ddd 1px solid;
    box-shadow: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-right: #f38e1e 1px solid !important;
    font-size: 12px !important;
}
.btn-nocolor {
   background: #fff !important;
    border: #ddd 1px solid !important;
    color: #000;
    border-left: #f38e1e 1px solid !important;
    padding: 0px 20px !important;
    font-size: 17px !important;
}
.btn-nocolor:hover {
   background: #f5f5f5 !important;
    border: #ddd 1px solid !important;
    color: #000;
    border-left: #f38e1e 1px solid !important;
    padding: 0px 20px !important;
    font-size: 17px !important;
}
.header-search {
    width: 437px;
}
.lang {
    padding-top: 10px !important;
    font-family: 'Museo 500', Arial, sans-serif !important;
    text-shadow: 0px 0px 0px #141414 !important;
}

#header ul.nav-second-main {
    border-left: rgba(0,0,0,0.1) 1px solid;
    padding-left: 15px;
    margin-top: 5px !important;
    -webkit-transition: all .300s;
    -moz-transition: all .300s;
    -o-transition: all .300s;
    transition: all .300s;
}
.top-menu {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    padding-top: 20px !important;
    margin-bottom: 14px !important;
}
ul.top-menu li a {
    color: #141414 !important;
    font-family: 'Museo 500', Arial, sans-serif !important;
    text-transform: capitalize !important;
}

.menu a {
    color: #f38e1e !important;
    font-family: 'Museo 500', Arial, sans-serif !important;
    text-transform: capitalize !important;
    font-size: 16px !important;
    text-shadow: 0px 0px 0px #f38e1e;
    
}